DATABASE_URL="file:./dev.db"

PORT=5000

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Auth
JWT_SECRET="804e0d18870fe5ff9fb133520cf0ab04350903905a97c9b4e5c5d0fa738ed56f7659554e2485d60cf8f596b399e19655"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH="$2b$10$7UXguHqbLH2N38QMTcE6x.rYJG5j8CWJnGknjSBFiC8UmReVLQz/2"
